@* @model List<Address> *@
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient m-lg-0 py-3" style="color:white;">
		Add new Address
	</div>
	<div class="card-body p-4">
		 @*  <form method="post" class="row" asp-action="AddressView" enctype="multipart/form-data">  

			 @foreach (var address in Model.)
			{ 

				<label>
				<input type="radio" name="address" value="@address.StreetAddress" />
				@address.StreetAddress, @address.City, @address.State, @address.PostalCode
				</label>

			 } 
{



		  </form>   *@
	</div>
</div>